<!-- about-us.html -->

<section class="about-us" id="about-us-section" data-aos="fade-right">
  <div class="container">
    <h2 class="about-us-title">Чому Хатинка Лапок</h2>

    <div class="about-us-slider" role="region" aria-roledescription="carousel">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <p class="swiper-desc">
              Все почалося у 2015 році з кількох небайдужих людей та одного
              врятованого собаки. Сьогодні ми — один з найбільших притулків у
              регіоні, але наша мета незмінна: дати другий шанс тим, кого
              зрадили.
            </p>
            <img
              class="about-img"
              src="./img/about-us/start.jpg"
              srcset="
                ./img/about-us/start.jpg    1x,
                ./img/about-us/start-2x.jpg 2x
              "
              alt="наш початок"
              loading="lazy"
            />
          </div>

          <div class="swiper-slide">
            <p class="swiper-desc">
              Ми рятуємо, реабілітуємо та знаходимо люблячі родини для
              безпритульних тварин. Наша мета — не просто дати прихисток, а й
              забезпечити кожному "хвостику" щасливе та повноцінне життя в новій
              родині.
            </p>
            <img
              class="about-img img-position"
              src="./img/about-us/dog.jpg"
              srcset="./img/about-us/dog.jpg 1x, ./img/about-us/dog-2x.jpg 2x"
              alt="рятуємо тварин"
              loading="lazy"
            />
          </div>

          <div class="swiper-slide">
            <p class="swiper-desc">
              "Хатинка Лапок" — це команда професійних ветеринарів, кінологів та
              десятків волонтерів, які щодня вкладають свою душу та час у
              турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя
              залежить від нас.
            </p>
            <img
              class="about-img"
              src="./img/about-us/team.jpg"
              srcset="./img/about-us/team.jpg 1x, ./img/about-us/team-2x.jpg 2x"
              alt="наша команда"
              loading="lazy"
            />
          </div>

          <div class="swiper-slide">
            <p class="swiper-desc">
              Ми створили безпечний та комфортний простір. Кожна тварина отримує
              якісне харчування, своєчасну ветеринарну допомогу, проходить
              соціалізацію та гуляє на спеціально обладнаних майданчиках.
            </p>
            <img
              class="about-img"
              src="./img/about-us/home.jpg"
              srcset="./img/about-us/home.jpg 1x, ./img/about-us/home-2x.jpg 2x"
              alt="наш притулок"
              loading="lazy"
            />
          </div>

          <div class="swiper-slide">
            <p class="swiper-desc">
              Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати
              волонтером, допомогти фінансово або інформаційно. Кожен маленький
              внесок наближає нас до великої мети — світу без безпритульних
              тварин.
            </p>
            <img
              class="about-img"
              src="./img/about-us/happy.jpg"
              srcset="
                ./img/about-us/happy.jpg    1x,
                ./img/about-us/happy-2x.jpg 2x
              "
              alt="щасливі тварини"
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <div class="about-us-slider-controls">
        <div class="swiper-pagination"></div>
        <div class="swiper-button-wrapper">
          <div class="swiper-button-prev">
            <svg width="24" height="24">
              <use
                href="/img/sprite.svg#icon-arrow-prev"
                width="24"
                height="24"
              ></use>
            </svg>
          </div>

          <div class="swiper-button-next">
            <svg width="24" height="24">
              <use
                href="/img/sprite.svg#icon-arrow-next"
                width="24"
                height="24"
              ></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
