<!-- header.html -->
<link rel="stylesheet" href="../css/header.css">
<header class="header">
  <div class="header-container">
    <nav class="nav">
      <a href="../index.html">
        <svg class="logo-image">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item"><a href="#pet-list-section" class="nav-link">Знайди друга</a></li>
        <li class="nav-item"><a href="" class="nav-link">Про нас</a></li>
        <li class="nav-item"><a href="#faq-section" class="nav-link">Часті запитання</a></li>
        <li class="nav-item"><a href="succes-stories" class="nav-link">Історії успіху</a></li>
      </ul>
    </nav>
    <button class="burger-btn">
      <svg class="burger-icon">
        <use href="./img/sprite.svg#burger-menu-icon"></use>
      </svg>
    </button>
    <svg class="close-btn">
      <use href="./img/sprite.svg#close-menu-btn-icon"></use>
      </svg>
    <button class="take-a-friend-header">Взяти друга</button>
  </div>
</header>
