<!-- hero.html -->
<section class="hero-section" id="hero-section">
  <div class="container">
    <div class="hero-description-container">
      <h1 class="hero-description-title">
        Кожне життя має значення. Знайди свого вірного друга
      </h1>
      <p class="hero-description-text">
        Сотні котиків та собачок у притулку Хатинка Лапок чекають на свою
        родину. Подаруйте їм дім.
      </p>
    </div>
    <a href="#success-history" class="hero-button">Подивитись історії</a>
  </div>
</section>
