<!-- mobile-menu.html -->
<link rel="stylesheet" href="../css/mobile-menu.css">
<section class="location">
  <section class="location is-visible">
    <div class="title-row">
      <img src="../img/sprite.svg#icon-logo" alt="logo image" class="logo-image">
      <img src="../img/Close.svg" alt="close icon" class="close-btn" width="24" height="24">
    </div>
    <div class="menu-container">
      <ul class="menu-items-list">
        <li class="menu-item"><a href="#" class="menu-link">Знайди друга</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Про нас</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Часті запитання</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Історії успіху</a></li>
      </ul>
      <button class="take-a-friend">Взяти друга</button>
    </div>
  </section>
</section>
