<!-- order-modal.html -->
<section class="location">
  <div class="container">
    <div class="js-modal-order-overlay">
      <div class="modal-order-content">
        <button class="modal-close-btn" type="button" aria-label="close-btn">
          X
        </button>
        <p class="modal-title">Залишіть заявку на знайомство</p>
        <form class="modal-order-form" id="order-form">
          <div class="modal-order-form-content">
            <label class="modal-order-label" for="user-name">Ім'я*</label>
            <div class="modal-order-form-input">
              <input
                class="modal-order-input"
                type="text"
                id="user-name"
                name="user-name"
                aria-label="user-name"
                placeholder="Андрій"
                autocomplete="off"
                aria-describedby="user-name-error"
                required
              />
              <p
                class="field-error"
                id="user-name-error"
                aria-live="polite"
              ></p>
            </div>
          </div>

          <div class="modal-order-form-content">
            <label class="modal-order-label" for="phone">Телефон*</label>
            <div class="modal-order-form-input">
              <input
                class="modal-order-input"
                type="tel"
                id="phone"
                name="phone"
                aria-label="phone"
                placeholder="+38 (095) 555 99 22"
                aria-describedby="phone-error"
                autocomplete="off"
                required
              />
              <p class="field-error" id="phone-error" aria-live="polite"></p>
            </div>
          </div>

          <div class="modal-order-form-content">
            <label class="modal-order-label" for="user-comment">Коментар</label>
            <textarea
              class="modal-user-comment"
              id="user-comment"
              name="user-comment"
              aria-label="user-comment"
              placeholder="Напишіть ваш коментар"
              aria-describedby="user-comment-error"
            ></textarea>
            <p
              class="field-error"
              id="user-comment-error"
              aria-live="polite"
            ></p>
          </div>

          <button type="submit" class="modal-btn-send" aria-label="send">
            Надіслати
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
