<!-- success-stories.html -->
<section class="reviews-section" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Щасливі історії, що надихають</h2>

    <p class="reviews-subtitle">
      Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
    </p>

    <div class="swiper reviews-slider">
      <div class="swiper-wrapper" id="feedbacks-list"></div>

      <div class="swiper-pagination reviews-pagination"></div>

      <button type="button" class="reviews-btn reviews-btn-prev">
        <img
          src="./img/SVG/arrow-back.svg"
          alt="Previous slide"
          width="24"
          height="24"
        />
      </button>

      <button type="button" class="reviews-btn reviews-btn-next">
        <img
          src="./img/SVG/arrow-forward.svg"
          alt="Next slide"
          width="24"
          height="24"
        />
      </button>
    </div>
  </div>
</section>
