<!-- success-stories.html -->
<section
  class="reviews-section"
  id="success-stories-section"
  data-aos="fade-left"
>
  <div class="container">
    <h2 class="reviews-title">Щасливі історії, що надихають</h2>
    <p class="reviews-subtitle">
      Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
    </p>
    <div class="reviews-slider" role="region" aria-roledescription="carousel">
      <div class="swiper reviews-swiper">
        <div class="swiper-wrapper" id="feedbacks-list"></div>
      </div>
      <div class="reviews-slider-controls">
        <div class="swiper-pagination"></div>
        <div class="swiper-button-wrapper">
          <div class="swiper-button-prev">
            <svg width="24" height="24">
              <use
                href="/img/sprite.svg#icon-arrow-prev"
                width="24"
                height="24"
              ></use>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg width="24" height="24">
              <use
                href="/img/sprite.svg#icon-arrow-next"
                width="24"
                height="24"
              ></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
