/* about-us.css */
.about-us {
    padding-top: 64px;
    padding-bottom: 64px;
}

.swiper {
    width: 100%;
    max-width: 335px;
    height: 402px;
    margin: 0 auto;
}

.swiper-wrapper {
    height: 402px;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-position {
    object-position: right;
}

.swiper-desc {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    max-width: 295px;
    max-height: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}

/* =============================================== */
.about-us-slider-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 335px;
    height: 64px;
    margin: 24px auto 0 auto;
    padding: 8px;

}

.swiper-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-shrink: 0;

}

.about-us-slider .swiper-pagination {
    position: static;
    display: flex;
    gap: 9px;
    align-items: center;
}

/* ===============БУЛЕТИ=============== */
.about-us-slider .swiper-pagination {
    display: flex;
    align-items: center;
    gap: 9px;
}


@media only screen and (max-width: 767px) {
    .about-us-slider .swiper-pagination-bullet {
        width: 4px;
        height: 4px;
        transition: 200ms ease;
    }

    .about-us-slider .swiper-pagination-bullet-active+.swiper-pagination-bullet {
        width: 6px;
        height: 6px;
    }


    .about-us-slider .swiper-pagination-bullet:has(+ .swiper-pagination-bullet-active) {
        width: 6px;
        height: 6px;
    }

    .about-us-slider .swiper-pagination-bullet-active {
        width: 8px;
        height: 8px;
        background: var(--color-scheme-1-text);
    }
}

/* ===============БУЛЕТИ-кінець=============== */

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
}

.about-us-slider .swiper-button-next,
.about-us-slider .swiper-button-prev {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    margin: 0;
    border: 1px solid var(--color-mariner-light);
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
    background: var(--color-scheme-1-foreground);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-slider .swiper-button-next:hover,
.about-us-slider .swiper-button-prev:hover,
.about-us-slider .swiper-button-next:focus,
.about-us-slider .swiper-button-prev:focus {
    border: 1px solid var(--opacity-neutral-darkest-60);
}

.about-us-slider .swiper-button-next:active,
.about-us-slider .swiper-button-prev:active {
    border: 1px solid var(--opacity-neutral-darkest-60);
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
    background: var(--color-scheme-1-foreground);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}


.about-us-slider .swiper-button-prev {
    left: 0;
    color: var(--color-scheme-1-text);

}

.about-us-slider .swiper-button-next {
    right: 0;
    color: var(--color-scheme-1-text);
}



.about-us-title {
    width: 100%;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-scheme-1-text);
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {

    .about-us-slider {
        position: relative;
    }

    .swiper {
        max-width: 704px;
        height: 404px;
    }

    .swiper-wrapper {
        height: 404px;
    }


    .swiper-desc {
        bottom: 32px;
        left: 32px;
        min-width: 548px;
        font-size: 16px;
    }

    .swiper-slide {
        position: relative;
    }

    .about-us-slider .swiper-button-next,
    .about-us-slider .swiper-button-prev {
        pointer-events: auto;
        position: absolute;
        top: calc(404px / 2);
        transform: translateY(-50%);
        z-index: 20;
        border: 1px solid var(--color-mariner-light);
        border-radius: 8px;
        padding: 12px;
        width: 48px;
        height: 48px;
        background: var(--color-scheme-1-foreground);
    }


    .about-us-slider-controls {
        position: static;
        max-width: 704px;
        height: auto;
        margin: 0;
        padding: 0 8px;
        pointer-events: auto;
    }

    .about-us-slider-controls .swiper-pagination {
        position: static;
        display: flex;
        justify-content: center;
        margin-top: 24px;
        padding: 10px;
    }

    .about-us-slider .swiper-button-prev {
        left: -24px;
    }

    .about-us-slider .swiper-button-next {
        right: -24px;
    }

    .about-us-slider .swiper-pagination-bullet {
        transition: 200ms ease;
    }

    .about-us-slider .swiper-pagination-bullet-active {
        width: 8px;
        height: 8px;
        background: var(--color-scheme-1-text);
    }


}

@media only screen and (min-width: 1440px) {

    .about-us {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .swiper {
        max-width: 1312px;
        height: 753px;
    }

    .about-us-slider-controls {
        max-width: 1312px;
        padding: 0;
    }

    .swiper-wrapper {

        height: 753px;
    }

    .about-us-slider {
        position: relative;
    }


    .swiper-desc {
        bottom: 64px;
        left: 64px;
        width: 548px;
        height: 108px;
        font-size: 18px;
    }

    .about-us-title {
        font-size: 48px;
    }

    .about-us-slider .swiper-button-next,
    .about-us-slider .swiper-button-prev {
        top: calc(753px / 2);
    }

    .about-us-slider-controls .swiper-pagination {
        margin-top: 48px;
    }
}