/* footer.css */
.footer {
  font-family: var(--font-family);
  line-height: 150%;
  color: var(--color-scheme-1-text);
  background-color: var(--color-scheme-2-background);
  padding-bottom: 64px;
  padding-top: 64px;
}

/* Logo */
.footer-logo-link {
  padding: 14px 2px 18px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer-logo-img {
  width: 298px;
  height: 97px;
}

/* Footer links */
.footer-anchor-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  row-gap: 32px;
  margin-top: 32px;
}

@media only screen and (min-width: 768px) {
  .footer-anchor-list {
    flex-direction: row;
    row-gap: 0px;
    column-gap: 32px;
  }
}
.footer-anchor-item {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}

/* Social links */
.footer-social-list {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  justify-content: center;
  margin-top: 32px;
}

/* Copyrights */
.footer-copyrights {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  border-top: 1px var(--color-scheme-1-border) solid;
  padding-top: 32px;
}