/* header.css */
.header {
  padding: 20px 0;
}
.header .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .nav {
    display: flex;
  }
  .nav-list{
    display: none;
  }
  .take-a-friend-header {
    display: none;
  }
  .burger-btn{
    display: block;
    background-color: red;
    width: 24px;
    height: 24px;
  }
  .close-btn{
    display: none;
  }
  .burger.active .icon-burger {
    display: none;
  }
  .burger.active .icon-close {
    display: block;
    width: 24px;
    height: 24px;
    background-color: green;
  }
  .logo-image{
    width: 160px;
    height: 68px;
  }
  .header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .burger-icon{
    width: 24px;
    height: 24px;
  }
  .burger-btn{
    width: 24px;
    height: 24px;
  }
  .close-btn{
  }
}

@media screen and (min-width: 1280px) {
  .nav {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .nav-list{
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .nav-link:hover {
    border-bottom: 1px solid var(--color-mariner-dark) ;
  }

  .take-a-friend-header{
    background-color: var(--color-mariner-dark);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    line-height: 150%;
    width: 130px;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  }
  .take-a-friend-header:hover{
    background-color: var(--color-mariner-light);
  }
}
.close-btn {
  width: 24px;
  height: 24px;
  background-color: red;

}