/* header.css */

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px 8px 20px;
  margin: 0 auto;
  max-width: 1440px;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-scheme-1-background);
  padding: 0;
  margin: 0;
  z-index: 999;
  height: 64px;
}

.wrapper-navigation {
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo-image > svg {
  width: 160px;
  height: 68px;
}

.nav {
  display: none;
}

.nav-list {
  display: none;
}

.burger-btn {
  padding: 18px 15px;
}

.icon-burger {
  width: 19px;
  height: 13px;
}

.take-a-friend-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .header .container {
    padding: 8px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .header .container {
    padding: 8px 64px;
    right: 0;
  }

  .header-container {
    height: 72px;
  }

  .icon-burger {
    display: none;
  }

  .nav {
    display: block;
    margin-left: 24px;
  }

  .nav-list {
    display: flex;
    column-gap: 32px;
  }

  .nav-link {
    font-family: var(--font-family);
    color: var(--color-scheme-1-text);
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }

  .nav-link {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    opacity: 0.5;
  }

  .nav-link {
    display: inline-block;
  }

  .nav-link::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--color-mariner-dark);
    transition: 300ms;
  }

  .nav-link:hover::after {
    width: 100%;
  }

  .nav {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 25px;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .take-a-friend-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    color: var(--color-white);
    background-color: var(--color-mariner-dark);
    border: none;
    border-radius: 8px;
    font-size: 14px;
    line-height: 150%;
    width: 130px;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .take-a-friend-header:hover {
    background-color: var(--color-mariner-light);
  }
}
