/* hero.css */

html {
  scroll-behavior: smooth;
}

:root {
  --color-hero-overlay: rgba(62, 54, 38, 0.74);
  --color-hero-overlay-transparent: rgba(62, 54, 38, 0);
}

.hero-section {
  padding-top: 64px;
  padding-bottom: 64px;
  background: linear-gradient(
      90deg,
      var(--color-hero-overlay) 0%,
      var(--color-hero-overlay-transparent) 70%
    ),
    url('/img/hero/hero-ima-dog-and-cat.jpg') center / cover no-repeat;
  min-height: 544px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero-description-container {
  color: var(--color-white);
}

.hero-description-title {
  font-size: 40px;
  line-height: 120%;
  font-weight: 700;
  letter-spacing: -0.01em;
  font-family: var(--second-family);
}

.hero-description-text {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  margin-top: 24px;
}

.hero-button {
  background-color: var(--color-mariner-dark);
  border-radius: 6px;
  width: 171px;
  height: 45px;
  color: var(--color-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.25s ease;
  margin-top: 32px;
}

#success-history {
  scroll-margin-top: 100px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-mariner);
  border: var(--color-neutral-darkest) 1px solid;
  color: var(--color-neutral-darkest);
}

.hero-button:focus-visible {
  outline: 2px solid var(--color-neutral-darkest);
  outline-offset: 2px;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 128px;
  }
  .hero-content-container {
    max-width: 704px;
    padding-left: 0;
  }
  .hero-description-title {
    max-width: 622px;
  }

  .hero-description-text {
    max-width: 512px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    min-height: 900px;
  }

  .hero-description-container {
    width: 622px;
  }

  .hero-description-title {
    font-size: 56px;
  }

  .hero-description-text {
    font-size: 18px;
  }

  .hero-button {
    width: 198px;
    height: 48px;
    gap: 16px;
    font-size: 16px;
  }
}
