/* mobile-menu.css */
main{
  scroll-behavior: smooth;
}
body{
  margin: 0;
}
.mobile-menu {
  display: none;
  position: absolute;
  z-index: 999;
  flex-direction: column;
  background-color: var( --color-mariner-lightest);
  width: 100vw;
  height: 100vh;

}
.logo-image{
  padding-top: 7.36px;
  padding-bottom: 9.26px;
}
.title-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 24px;
  padding-top: 8px;
}
.menu-items-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style-type: none;
  padding-top: 24px; ;
  margin: 0;
  padding-inline-start: 0;
}
.menu-link{
  text-decoration: none;
  color: #02060A;
  font-family: 'IBM Plex Sans ', sans-serif;
}
.menu-container{
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  gap: 64px;
  padding-top: 16px;

}
.take-a-friend{
  background-color: var(--color-mariner-dark);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  line-height: 150%;
  width: 325px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.is-visible{
  display: flex;
}
@media (min-width: 768px) {
  .menu-items-list{
    align-items: center;
  }
}
.close-btn{
  cursor: pointer;
}