/* mobile-menu.css */

.mobile-menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;
  transition: transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out, linear 0.5s;
}

.mobile-menu.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.mobile-menu>.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px 0;
}

.close-btn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-content {
  display: flex;
  margin: auto;
  padding-bottom: 72px;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: auto;
}

.mob-nav-list-item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.mob-nav-list-item {
  display: flex;
  justify-content: center;
}

@media (min-width : 768px) {
  .mobile-menu {
    display: none;
  }
}

@media (min-width : 1440px) {
  .mobile-menu {
    display: none;
  }
}

.take-a-friend {
  background-color: var(--color-mariner-dark);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  line-height: 150%;
  width: 325px;
  padding-top: 8px;
  padding-bottom: 8px;
}