/* mobile-menu.css */

.mobile-menu {
  background-color: var(--color-white);
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.mobile-menu.is-open {
  pointer-events: auto;
  transform: translateX(0);
  opacity: 1;
}
.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
.mobile-menu > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px 0;
}

.close-btn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-content {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: auto;
}

.menu-nav-list-item a {
  font-family: var(--font-family);
  color: var(--color-scheme-1-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.menu-nav-list-item {
  display: flex;
  justify-content: center;
}

.take-a-friend {
  background-color: var(--color-mariner-dark);
  border: 1px solid var(--color-mariner-dark);
  border: none;
  border-radius: 8px;
  color: var(--color-white);
  font-size: 14px;
  line-height: 150%;
  width: 325px;
  height: 37px;
  margin-top: 64px;
  padding: 8px 20px;
  width: 335px;
  height: 37px;
}

@media (min-width: 1440px) {
  .take-a-friend {
    width: 196px;
  }
}
@media (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}
