/* order-modal.css */

body.modal-open {
    overflow: hidden;
}

.js-modal-order-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    padding: 6%;
}

.js-modal-order-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal-order-content {
    position: relative;
    background: var(--color-scheme-1-background);
    border-radius: 8px;
    padding: 64px 20px;
    box-sizing: border-box;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    max-width: 335px;
}

.modal-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.modal-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-scheme-1-text);
    margin-bottom: 48px;
}


.modal-order-form-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.modal-order-label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
    margin-bottom: 8px;
}


.modal-order-input {
    border: 1px solid var(--opacity-transparent);
    border-radius: 12px;
    padding: 8px 12px;
    width: 100%;
    height: 37px;
    background: var(--opacity-neutral-darkest-5);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-user-comment {
    border: 1px solid var(--opacity-transparent);
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    height: 180px;
    outline: transparent;
    background: var(--opacity-neutral-darkest-5);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none
}


.modal-user-comment::placeholder,
.modal-order-input::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--opacity-neutral-darkest-60);
}

.modal-order-input:focus::placeholder,
.modal-user-comment:focus::placeholder {
    opacity: 0;
}

.modal-order-input:hover,
.modal-order-input:focus,
.modal-user-comment:hover,
.modal-user-comment:focus {
    border: 1px solid var(--color-mariner-dark);
    background: var(--color-mariner-lighter);
}


.modal-btn-send {
    border: 1px solid var(--color-mariner-dark);
    border-radius: 8px;
    padding: 12px 24px;
    max-width: 295px;
    width: 100%;
    margin: 0 auto;
    height: 45px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: var(--color-mariner-dark);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-white);
}



@media screen and (min-width: 768px) {

    .js-modal-order-overlay {
        padding: 0 20px;
    }

    .modal-order-content {
        max-width: 704px;
        padding: 64px 32px;
    }

    .modal-btn-send {
        max-width: 240px;
        margin: 0 auto;
        display: block;
    }

}

@media screen and (min-width: 1440px) {
    .modal-order-content {
        max-width: 768px;
        padding: 64px;
    }

    .modal-title {
        font-size: 48px;
    }

    .modal-btn-send {
        height: 48px;
    }
}

/* ====================================================== */
.field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.field-error {
    font-size: 12px;
    line-height: 150%;
    color: var(--color-red);
    min-height: 14px;

}

.is-error .modal-order-input,
.is-error .modal-user-comment {
    border-color: var(--color-red);
}

.is-error .modal-order-input:focus,
.is-error .modal-user-comment:focus,
.is-error .modal-order-input:focus-visible,
.is-error .modal-user-comment:focus-visible {
    border-color: var(--color-red);
    outline: none;
    box-shadow: none;
}