/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('/css/reset.css');
@import url('/css/base.css');
@import url('/css/container.css');
@import url('/css/animations.css');

/* Sections style */
@import url('/css/header.css');
@import url('/css/mobile-menu.css');
@import url('/css/hero.css');
@import url('/css/pets-list.css');
@import url('/css/about-us.css');
@import url('/css/faq.css');
@import url('/css/success-stories.css');
@import url('/css/order-modal.css');
@import url('/css/pet-modal.css');
@import url('/css/footer.css');
@import url('/css/pagination.css');
