/* success-stories.css */
.reviews-section {
    padding-top: 64px;
    padding-bottom: 64px;
    overflow: hidden;
}


.reviews-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    margin-bottom: 24px;
}

.reviews-subtitle {
    font-size: 16px;
    line-height: 1.29;
    text-align: center;
    margin-bottom: 40px;
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
}

.reviews-slider {
    width: 100%;
    padding-bottom: 60px !important;
    position: relative;
}

.review-card {
    display: flex;
    flex-direction: column;
    height: auto;
    border: none;
}

.review-rating {
    margin-bottom: 32px;
    display: flex;
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.icon-star {
    display: block;
    width: 20px;
    height: 19px;
    filter: brightness(0) saturate(100%);
}

.review-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    width: 100%;
    max-width: 335px;
    margin-bottom: 32px;
    flex-grow: 1;
}

.review-author {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
}

.reviews-btn {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid var(--color-mariner-light);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 12px;
    transition: border-color 0.3s ease;
}

.reviews-btn img {
    display: block;
}

.reviews-btn:hover:not(:disabled) {
    border-color: var(--color-scheme-1-accent);
}

.reviews-btn-next {
    right: 0;
}

.reviews-btn-prev {
    right: 64px;
}

.reviews-pagination {
    text-align: left !important;
    bottom: 20px !important;
    width: auto !important;
    left: 0 !important;
    z-index: 10;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    opacity: 0.2;
    margin-right: 8px !important;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    border-radius: 50%
}

.swiper-pagination-bullet-active {
    opacity: 1;
}