/* --- Success Stories Section --- */
/* #region Card */

.reviews-section .container {
  padding: 64px 20px;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 375px) {
  .reviews-section .container {
    width: 100%;
    min-width: 280px;
  }
}

.reviews-title {
  color: var(--color-scheme-1-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 24px;
}

.reviews-subtitle {
  color: var(--color-scheme-1-text);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  max-width: 335px;
  margin-bottom: 40px;
}

@media screen and (min-width: 375px) {
  .reviews-subtitle {
    max-width: 335px;
  }
}

.reviews-slider {
  /* width: 100%; */
  /* position: relative; */
}

.review-card {
  display: flex;
  flex-direction: row;
  height: auto;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  text-align: left;
  align-items: flex-start;
}

.review-rating {
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.rating-container {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 116px;
  margin-bottom: 32px;
}

.icon-star {
  display: block;
  width: 20px !important;
  height: 19px !important;
  max-width: 20px !important;
  flex-shrink: 0;
  object-fit: contain;
  filter: brightness(0);
}

.review-text {
  color: var(--color-scheme-1-text);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  margin-bottom: 32px;
  text-align: left;
}

.review-author {
  color: var(--color-scheme-1-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}

.review-author-wrap {
  width: 100%;
}

/* #endregion */


.reviews-slider .swiper {
    width: 100%;
    max-width: 335px;
    height: auto;
    margin: 0 auto;
}
.reviews-slider .swiper-wrapper {
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.reviews-slider-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 335px;
    height: 64px;
    margin: 24px auto 0 auto;
    padding: 8px;

}

.reviews-slider .swiper-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-shrink: 0;

}

.swiper-slide.review-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  height: auto;

}

.reviews-slider .swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: visible;
  width: 100% !important;
}

.reviews-slider {
  --swiper-pagination-bullet-horizontal-gap: 0px;
}

@media only screen and (max-width: 767px) {
  .reviews-slider-controls .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    transition: 200ms ease;
  }

  .reviews-slider-controls .swiper-pagination-bullet-active+.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }


  .reviews-slider-controls .swiper-pagination-bullet:has(+ .swiper-pagination-bullet-active) {
    width: 6px;
    height: 6px;
  }

  .reviews-slider-controls .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;

    background: var(--color-scheme-1-text);
  }
}

/* ===============БУЛЕТИ-кінець=============== */

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

.reviews-slider .swiper-button-next,
.reviews-slider .swiper-button-prev {
  position: static;
  top: auto;
  left: auto;
  right: auto;
  margin: 0;
  border: 1px solid var(--color-mariner-light);
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: var(--color-scheme-1-foreground);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.reviews-slider .swiper-button-next:hover,
.reviews-slider .swiper-button-prev:hover,
.reviews-slider .swiper-button-next:focus,
.reviews-slider .swiper-button-prev:focus {
  border: 1px solid var(--opacity-neutral-darkest-60);
}

.reviews-slider .swiper-button-next:active,
.reviews-slider .swiper-button-prev:active {
  border: 1px solid var(--opacity-neutral-darkest-60);
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background: var(--color-scheme-1-foreground);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}


.reviews-slider .swiper-button-prev {
  left: 0;
  color: var(--color-scheme-1-text);

}

.reviews-slider.swiper-button-next {
  right: 0;
  color: var(--color-scheme-1-text);
}


@media only screen and (min-width: 768px) {

  .reviews-slider {
    position: relative;
  }

  .swiper {
    max-width: 704px;
    height: 404px;
}
.swiper-wrapper {
        height: 404px;
    }
    .swiper-slide {
        position: relative;
    }

  .reviews-slider .swiper-button-next,
  .reviews-slider .swiper-button-prev {
    pointer-events: auto;
    top: calc(404px / 2);
    border: 1px solid var(--color-mariner-light);
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
    background: var(--color-scheme-1-foreground);
  }


  .reviews-slider-controls {
    position: static;
    max-width: 704px;
    height: auto;
    margin: 0;
    padding: 0 8px;
    pointer-events: auto;

  }

  .reviews-slider-controls .swiper-pagination {
    position: static;
    justify-content: center;
    margin-top: 24px;
    padding: 10px;
    gap: 9px;
  }



  .reviews-slider .swiper-button-prev {
    left: -24px;
  }

  .reviews-slider .swiper-button-next {
    right: -24px;
  }

  .reviews-slider .swiper-pagination-bullet {
    transition: 200ms ease;
  }

  .reviews-slider .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
    background: var(--color-scheme-1-text);
    border: 1px dashed blue;
  }


}

@media only screen and (min-width: 1440px) {

  .reviews {
    max-width: 1312px;
        height: 753px;
  }

  .reviews-slider-controls {
    max-width: 1312px;
    height: auto;
    min-height: 32px;
  }

  .swiper-wrapper {

    height: 753px;

  }

  .reviews-slider {
    position: relative;
  }


  .reviews-slider .swiper-button-next,
  .reviews-slider .swiper-button-prev {
    top: calc(753px / 2);
  }

  .reviews-slider-controls .swiper-pagination {
    margin-top: 24px;
  }
}