/* success-stories.css */
@media screen and (min-width: 375px) {
  .reviews-section .container {
    width: 100%;
    min-width: 280px;
  }
}
.reviews-section .container {
  padding: 64px 20px;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  box-sizing: border-box;
}
.reviews-title {
  color: var(--color-scheme-1-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 24px;
}
.reviews-subtitle {
  color: var(--color-scheme-1-text);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  max-width: 335px;
  margin-bottom: 40px;
}
@media screen and (min-width: 375px) {
  .reviews-subtitle {
    max-width: 335px;
  }
}
.review-card {
  display: flex;
  flex-direction: row;
  height: auto;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  text-align: left;
  align-items: flex-start;
}
.review-rating {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.rating-container {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 116px;
  margin-bottom: 32px;
}
.icon-star {
  display: block;
  width: 20px;
  height: 19px;
  max-width: 20px;
  flex-shrink: 0;
  object-fit: contain;
  filter: brightness(0);
}
.review-text {
  color: var(--color-scheme-1-text);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  width: 100%;
  margin-bottom: 32px;
  text-align: left;
}
.review-author {
  color: var(--color-scheme-1-text);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}
.review-author-wrap {
  width: 100%;
}
/* #endregion */
.reviews-slider .swiper {
  width: 100%;
  max-width: 335px;
  height: auto;
  margin: 0 auto;
}
.reviews-slider .swiper-wrapper {
  height: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.reviews-slider-controls {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  max-width: 335px;
  margin: 24px auto 0 auto;
}
.reviews-slider .swiper-button-wrapper {
  grid-column: 3;
  justify-self: end;
  display: flex;
  gap: 16px;
}
.swiper-slide.review-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  height: auto;
}
.reviews-slider .swiper-pagination {
  position: relative;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  min-width: 80px;
  text-align: center;
}
.reviews-slider {
  --swiper-pagination-bullet-horizontal-gap: 0px;
}
.reviews-slider .swiper-pagination-bullet {
  background-color: var(--color-scheme-1-text) !important;
  opacity: 0.5 !important;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.reviews-slider .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: #000000 !important;
}
@media screen and (max-width: 767px) {
  .reviews-slider .swiper-pagination-bullets-dynamic {
    width: 88px !important;
    overflow: hidden !important;
    transform: none !important;
    left: 0 !important;
    transform: translateX(-50%) !important;
    align-items: center;
  }
  .reviews-slider .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    margin: 0 4px !important;
    transform: scale(1) !important;
    position: relative !important;
    display: inline-block !important;
    flex-shrink: 0;
  }
}
@media only screen and (min-width: 768px) {
  .reviews-slider .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    background-color: var(--color-scheme-1-text);
    opacity: 0.5;
    transition: 200ms ease;
    flex-shrink: 0;
    margin: 0 4px !important;
  }
  .reviews-slider .swiper-pagination-bullet-active + .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    opacity: 0.8;
  }
  .reviews-slider
    .swiper-pagination-bullet:has(+ .swiper-pagination-bullet-active) {
    width: 6px;
    height: 6px;
    opacity: 0.8;
  }
  .reviews-slider .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
    background: var(--color-scheme-1-text);
    opacity: 1;
  }
}
/* ===============БУЛЕТИ-кінець=============== */
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}
.reviews-slider .swiper-button-next,
.reviews-slider .swiper-button-prev {
  position: static;
  top: auto;
  left: auto;
  right: auto;
  margin: 0;
  border: 1px solid var(--color-mariner-light);
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: var(--color-scheme-1-foreground);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.reviews-slider .swiper-button-next:hover,
.reviews-slider .swiper-button-prev:hover,
.reviews-slider .swiper-button-next:focus,
.reviews-slider .swiper-button-prev:focus {
  border: 1px solid var(--opacity-neutral-darkest-60);
}
.reviews-slider .swiper-button-next:active,
.reviews-slider .swiper-button-prev:active {
  border: 1px solid var(--opacity-neutral-darkest-60);
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background: var(--color-scheme-1-foreground);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.reviews-slider .swiper-button-prev {
  left: 0;
  color: var(--color-scheme-1-text);
}
.reviews-slider.swiper-button-next {
  right: 0;
  color: var(--color-scheme-1-text);
}
@media screen and (min-width: 768px) {
  .reviews-section .container {
    max-width: 768px;
    padding: 64px 32px;
  }
  .reviews-subtitle {
    max-width: 704px;
  }
  .reviews-slider .swiper {
    max-width: 704px;
    height: auto;
    margin: 0 auto 24px auto;
  }
  .reviews-slider-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 704px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .reviews-slider .swiper-pagination {
    position: static;
    margin: 0;
    width: 60px !important;
    gap: 2px;
    display: flex;
    justify-content: flex-start;
    transform: none !important;
    overflow: hidden;
  }
  .reviews-slider .swiper-button-wrapper {
    display: flex;
    gap: 16px;
    margin: 0;
  }
  .reviews-slider .swiper-button-next,
  .reviews-slider .swiper-button-prev {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    margin: 0;
    transform: none;
  }
}
@media only screen and (min-width: 1440px) {
.reviews-section .container {
    max-width: 1440px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 64px;
    padding-right: 64px;
  }

.reviews-title {
    font-size: 48px;
    max-width: 560px;
    margin: 0 auto 24px auto;
  }

.reviews-subtitle {
  font-size: 18px;
  margin: 0 auto 40px auto;
}

.reviews-slider .swiper {
    max-width: 100%;
    margin: 0 auto;
  }

.reviews-slider-controls {
    max-width: 100%;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

.reviews-slider .swiper-button-wrapper {
    margin-left: auto;
    display: flex;
    gap: 16px;
  }
.reviews-slider .swiper-button-next,
.reviews-slider .swiper-button-prev {
    position: static;
    transform: none;
    margin: 0;
  }

.reviews-slider .swiper-pagination {
    margin: 0;
    text-align: left;
    justify-content: flex-start;
  }
}
